@font-face {
      font-family: 'Noto Sans';
      src: url('https://github.com/Ikkiw-P09/NetTrans/blob/50e8df3d982f2c608fb4f01aefa76b910f387d86/ntsn-th.ttf');
   }  

@font-face {
    font-family: 'Noto Sans Thai';
    src: url('https://github.com/Ikkiw-P09/NetTrans/blob/50e8df3d982f2c608fb4f01aefa76b910f387d86/ntsn-th.ttf');
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('https://github.com/Ikkiw-P09/NetTrans/blob/50e8df3d982f2c608fb4f01aefa76b910f387d86/ntsn-jp.ttf');
}

body {
	font-family: 'Noto Sans', 'Noto Sans Thai', 'Noto Sans JP';
	color: whitesmoke;
}